<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="TestDirectory" value="C:\temp\ThumbnailTests\"/>
    <add key="TestImageDirectory" value="C:\Temp\Images"/>
  </appSettings>
</configuration>